.m-button {
  width: 600px;
  height: 600px;

  img {
    width: 100%;
    height: 100%;
  }
}

.m-progress-bar {
  width: 500px;
  height: 50px;
  position: relative;
  background-color: black;

  &__value {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0%;
    background-color: #58da4f;
  }
}